* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "微软雅黑";
    padding: 38px 0 94px;
    background: #2e2e2e;
    ul {
        list-style: none;
    }
    @-webkit-keyframes translater {
        0% {
            transform: translateX(1500px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @-webkit-keyframes translatel {
        0% {
            transform: translateX(-1500px);
        }
        100% {
            transform: translateX(0);
        }
    }
    @-webkit-keyframes fade-in {
        0%{
            opacity: 0;
        }
        60% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes scale {
        0% {
            transform: scale(1);
            box-shadow: 5px 5px 10px #afb692,-5px -5px 10px #afb692;
            border-radius: 50%;
        }
        50% {
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #3f9154,-5px -5px 10px #3f9154;
            border-radius: 30%;
        }
        100% {
            transform: scale(1);
            box-shadow: 5px 5px 10px #fec16c,-5px -5px 10px #fec16c;
            border-radius: 10%;
        }
    }
    %r_translate {
        -webkit-animation-name: translater;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
    }
    %l_translate {
        -webkit-animation-name: translatel;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
    }
    %scale {
        -webkit-animation-name: scale;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
    }
    .wrapper {
        width: 1098px;
        background: #f2f2f2;
        margin: 0 auto;
        border-radius: 30px;
        box-shadow: 2px 2px 5px #c7b9b9;
        overflow: hidden;
        height: 8230px;
        -webkit-animation-name: fade-in;
        -webkit-animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        .header {
            height: 190px;
            padding: 0 78px;
            overflow: hidden;
            .logo {
                float: left;
                padding-top: 64px;
                img {
                    width: 277px;
                    height: 85px;
                    &:hover {
                        @extend %scale;
                    }
                }
            }
            .nav {
                float: right;
                padding-top: 105px;
                line-height: 31px;
                a {
                    text-decoration: none;
                    font-size: 11px;
                    color: #808080;
                    text-shadow: 1px 1px 1px #809bb9,0 0 2px #f2b99b;
                    padding-right: 5px;
                    display: inline-block;
                    transition: all 0.53s linear;
                    &:hover {
                        transition: all 0.53s linear;
                        transform: scale(1.1);
                        color: #fec16c;
                        text-shadow: 1px 1px 1px #3e1e0f,0 0 2px #d9042c;
                    }
                }
                span {
                    display: inline-block;
                    width: 34px;
                    height: 32px;
                    margin-left: 20px;
                    background: url("../img/search.png") no-repeat;
                    vertical-align: middle;
                    transition: all 0.53s linear;
                    &:hover {
                        transition: all 0.53s linear;
                        transform: scale(1.4);
                    }
                }
            }
        }
        .container {
            %common {
                width: 1020px;
                height: 400px;
                background-color: #3c424b;
                margin-bottom: 30px;
                color: #fff;
                display: flex;
                flex-direction: row;
                line-height: 1;
                .text {
                    width: 300px;
                    padding: 57px 0 0 30px;
                    overflow: hidden;
                    h2 {
                        font-size: 25px;
                        font-weight: normal;
                    }
                    p {
                        font-size: 12px;
                        padding-top: 82px;
                    }
                }
                .picture {
                    &:hover {
                        @extend %scale;
                    }
                    overflow: hidden;
                    img {
                        width: 720px;
                        height: 400px;
                    }
                }
            }
            .right {
                @extend %common;
                @extend %r_translate;
                margin-left: 78px;
                border-radius: 15px 0 0 15px;
                .text {
                    h1 {
                        font-size: 19px;
                        font-weight: bold;
                        margin-bottom: 62px;
                    }
                    ul {
                        list-style: none;
                        font-size: 12px;
                        padding-bottom: 15px;
                        color: #ffcc00;
                        li {
                            padding-bottom: 10px;
                            white-space: nowrap;
                        }
                    }
                }
            }
            .left {
                &:nth-child(2) {
                    .text {
                        background: url("../img/code.png") no-repeat 30px 132px;
                    }
                }
                @extend %common;
                @extend %l_translate;
                border-radius: 0 15px 15px 0;
                .text {}
            }
        }
        .footer {
            padding: 90px 0 0 100px;
            height: auto;
            ul {
                li {
                    ul {
                        display: flex;
                        flex-direction: row;
                        li {
                            img {
                                &:hover {
                                    @extend %scale;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
